/* Base */
/* Navbar */
/* Blocks */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
}

a {
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

table td {
  text-align: center;
}
table th {
  text-align: center;
}

.text-black {
  color: #000;
}

.btn {
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  border-width: 2px;
}
.btn:hover {
  outline: none;
  box-shadow: none;
}
.btn:active {
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn.btn-primary:hover {
  background: transparent;
  color: #eac651;
}

.btn.btn-black {
  background: #000;
  color: #fff;
}
.btn.btn-black:hover {
  background-color: #eac651;
  color: #000;
}
.btn.btn-black:active {
  background-color: #eac651;
  color: #000;
}
.btn.btn-black:focus {
  background-color: #eac651;
  color: #000;
}

.form-control {
  height: 43px;
}
.form-control:active {
  border-color: #eac651;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #eac651;
  box-shadow: none !important;
}
.form-control:hover {
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}
.site-section-heading:before {
  display: none;
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #eac651;
}

.site-section-heading.text-center:before {
  display: none;
  content: "";
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #eac651;
}

.site-footer ul li a {
  color: #5c626e;
}
.site-footer ul li a:hover {
  color: #eac651;
}
.site-footer .footer-heading {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
}

.site-drugDetails-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

.site-logo a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 22px;
  color: #000 !important;
  font-weight: 900;
}
.site-logo a:hover {
  text-decoration: none;
}

.icons-btn {
  display: inline-block;
  text-align: center;
}
.icons-btn span {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eac651;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #caced1;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #6c757d;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #6c757d;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 600;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #eac651;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eac651;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #eac651;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #6c757d;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eac651;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #eac651;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 700px;
  height: 100vh;
}
.site-blocks-cover > .container > .row {
  min-height: 700px;
  height: 100vh;
}
.site-blocks-cover h2 {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.site-blocks-cover h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.site-blocks-cover p {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}
.site-blocks-cover .intro-text {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
.site-blocks-cover .sub-title {
  color: #fff;
}
.site-blocks-cover .btn {
  padding: 20px 30px;
}

.block-16 figure {
  position: relative;
}
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 90px;
  height: 90px;
  background: #fff;
  display: block;
  border-radius: 50%;
  border: none;
}
.block-16 figure .play-button:hover {
  opacity: 1;
}
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -45%);
}

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300;
}
.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
}
.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.custom-border-bottom {
  border-bottom: 1px solid #f9f9f9;
}

.custom-border-top {
  border-top: 1px solid #f9f9f9;
}

.border {
  border: 1px solid #eee !important;
}
.border a {
  display: block;
  padding: 30px;
}

.item {
  border: 2px solid #eac651;
}

.item:hover {
  box-shadow: 0px 0px 10px #eac651;
}

.item img{
  margin-top: 30px;
  max-width: 12em;
  max-height: 12em;
}


.item h3 a {
  color: #000;
}
.item .price {
  color: #000;
}

.tag {
  position: absolute;
  background: #e86b00;
  color: #fff;
  letter-spacing: 0.2em;
  padding: 7px 7px;
  font-size: 0.8rem;
  font-weight: 900;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 2;
}

.banner-wrap {
  background: #eac651;
  border-radius: 4px;
}
.banner-wrap a {
  padding: 30px;
  display: block;
  text-align: center;
}
.banner-wrap a h5 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}
.banner-wrap a p {
  color: #fff;
  color: #fff;
  font-size: 1.4rem;
}
.banner-wrap a p strong {
  font-size: 0.9rem;
  display: block;
}

.section-overlap {
  margin-top: -150px;
}

.tabbed {
  width: 700px;
  margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #eac651;
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 700px;
  position: absolute;
  border-top: 2px solid #eac651;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity 0.3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed {
    width: 400px;
  }
  .tabbed > label {
    display: none;
  }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #eac651;
    padding-bottom: 0.5em;
  }
}/*# sourceMappingURL=styles.css.map */

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 1000;
  margin-top: 65px;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}